html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        title #{title}
    body
        .container
          p hello rainci haha
          input(type='input'
            placeholder='请输入姓名'
            name='name')
          input(type='input'
            placeholder='请输入性别'
            name='gender')
          input(type='button')  